.navbar {
  height: 80px;
  padding: 0 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.logo h2 {
  color: #4d6f4d;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
}

.nav-links a:hover {
  color: #6fa56f;
}